html(lang="es" dir="ltr")
  head
    meta(charset="utf-8")
    title= title || "ExamApp"
    link(rel="icon", type="image/png", href="/static/favicon.png")
    link(rel="stylesheet" href="/css/main.css")
  body
    header.topnav
      div.topnav-logo GalaxyLab
      div.topnav-links
        a(href="/") Home
        a(href="/ask") Ask 
        a(href="/learn") Learn 
        a(href="/practice") Practice 
        a(href="/login") Log in | Register
    block content
