extends ./modules/basic.pug
block content
  img(src="/static/logo.png" class="header-logo")
  h1 Examenes y preguntas
  p Bienvenido al proyecto creado por 
    a(href="https://github.com/S4M3R") S4M3R
    span , creado para ser un sitio web donde podes hacer preguntas y compartir examenes.
  h2 Repositorio  
    a(href="https://github.com/S4M3R/exams-webpage") aqui
